.DS_Store
../.idea
.ipynb_checkpoints
*.ipynb
processed_folders.txt
documents/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.avi
*.mp4
*.csv

# nixos env stuff
/.direnv
/.hack
/.venv
/.idea
/C-TestData
